@import url('../styles/style.css');

body {
    background-color: var(--FundoBody);
    background-image: url('https://images.unsplash.com/photo-1466611653911-95081537e5b7?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(20px);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.app {
    display: flex;
    gap: 10px;
}

/* Header */
.pesquisa {
    background-color: var(--FundoBoxs);
    width: 380px;
    height: 35px;
    border-radius: 10px;
    padding: 0;
}

/* Clima */
.clima {
    background-color: var(--FundoBoxs);
    width: 600px;
    height: 290px;
    border-radius: 20px;
}

/* Destaques */
.destaques {
    background: radial-gradient(circle, var(--fundoRadialDestaques) 0%, var(--FundoBoxs) 100%);
    width: 500px;
    height: 320px;
    border-radius: 20px;
}

/* Outros */
.outros {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Txts cidades */
.txts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Cidades */
.cidades {
    display: grid;
    grid-template-rows: 104px 104px;
    grid-template-columns: 245px 245px;
    gap: 10px;
}

/* Cidade */
.cidade {
    background-color: var(--FundoBoxs);
    border-radius: 20px;
}

.contorno {
    border: var(--bordas) solid 1px;
}

.sombra {
    box-shadow: 0 0 15px var(--sombras);
}

.active {
    background-color: var(--corDestaque);
    color: var(--corEscura);
    font-weight: 500;
}

@media screen and (max-width: 1070px) {
    
}