:root {
    --fundo: #111015;
    --textos: #fff;
    --box-fundo: #1E1E1E;
    --fonte: "Montserrat", sans-serif;
    --cor-second: #D8E9F9;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte);
}

body {
    height: 100%;
    background-color: var(--fundo);
}

main {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.box-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
}

.climas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box {
    background-color: var(--box-fundo);
    width: 540px;
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px #00000057;
    color: var(--textos);
    border: #ffffff17 solid 1px;
}

.outros {
    display: flex;
}

/* ------------- Header ------------- */
.search {
    display: flex;
    background-color: var(--box-fundo);
    width: 300px;
    padding: 5px 15px;
    border-radius: 11px;
    gap: 10px;
    box-shadow: 0 0 10px #00000057;
    border: #ffffff17 solid 1px;
}

.search > input {
    border: none;
    outline: none;
    background-color: var(--box-fundo);
    color: var(--textos);
    width: 100%;
    font-size: 12px;
}

.search > button {
    background-color: var(--box-fundo);
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.search > button > i {
    font-size: 15px;
    color: var(--textos);
}

/* ------------- Forecast ------------- */

.city {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.city > .icon-city {
    background-color: var(--cor-second);
    display: flex;
    padding: 7px 10px;
    gap: 8px;
    width: 100px;
    max-width: 200px;
    border-radius: 20px;
    color: #000;
}

.city > .icon-city > p {
    font-size: 13px;
    font-weight: 600;
}

.select-temp {
    display: flex;
    gap: 5px;
}

.btn {
    color: #ffffff;
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #2F2F2F;
    cursor: pointer;
    transition: .2s;
}

.btn:hover {
    transform: scale(1.05);
}

.select {
    background-color: var(--cor-second);
    color: #000;
}

/* ------------- Texto ------------- */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.date {
    color: var(--textos);
    margin: 25px 0;
}

.date > p {
    font-size: 13px;
    font-weight: 300;
}

.temp {
    color: var(--textos);
    margin: 20px 0;
}

.temp > h1 {
    font-size: 60px;
    font-weight: 400;
}

.temp > p {
    font-size: 12px;
    font-weight: 300;
}

.time {
    color: var(--textos);
    text-align: right;
    padding: 20px 0;
}

.time > p {
    font-size: 12px;
    font-weight: 300;
}

.time > h1 {
    font-weight: 300;
}

.time > i {
    font-size: 120px;
    float: inline-end;
    padding: 10px 0;
    color: #ffffff;
    text-shadow: 3px 3px 10px #00000065;
}

/* ------------- Previsão da Semana ------------- */
.week {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.dias {
    display: flex;
    gap: 5px;
    text-align: center;
    margin: 25px 5px;
}

.week-time > h1 {
    font-size: 15px;
    font-weight: 300;
    margin: 5px;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    background-color: #2d738b11;
    width: 40px;
    border-radius: 10px;
    border: #ffffff0c solid 1px;
    height: 70px;
    color: #ffffff8e;
}

.hours {
    display: flex;
    flex-direction: column;
    background-color: #2d738b11;
    border-radius: 20px;
    align-items: left;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    border: #ffffff0c solid 1px;
}

.hours p {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff88;
}

.hours h1 {
    font-size: 20px;
    font-weight: 300;
}

.hours span {
    display: inline-block;
    color: #8b8b8b;
    padding: 10px;
}

.tomorrow {
    background-color: #232323;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.txt-tomorrow > h4 {
    font-size: 13px;
    font-weight: 300;
}

.txt-tomorrow > p {
    font-size: 12px;
    font-weight: 400;
    color: #969696;
}

.clima-tomo i {
    font-size: 50px;
}

.clima-tomo {
    display: flex;
    gap: 40px;
    align-items: center;
}

.clima-tomo > h1 {
    font-weight: 400;
    font-size: 40px;
}

/* --------------  -------------- */

@media screen and (max-width: 1070px) {
    
}