:root {
    --FundoBoxs: #1E1E1E;
    --FundoBody: #111015;
    --textos: #fff;
    --bordas: #ffffff07;
    --corDestaque: #D8E9F9;
    --corDestaque2: #2d748b;
    --corEscura: #000;
    --fundoBoxesClaro: #2F2F2F;
    --fundoBoxClaroA: #2f2f2f5e;
    --fundoHorarios: #2d738b18;
    --sombraHorarios: #00000034;
    --fundoSemana: #2d738b31;
    --corTextosClaros: #929292;
    --sombras: #00000065;
    --bordasDias: #ffffff13;
    --sombraDias: #11ffc71c;
    --sombraClimaAmanha: #2d748b;
    --fundoRadialDestaques: #173d49;
    --fonte: "Montserrat", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--fonte);
    color: var(--textos);
}

.pesquisa {
    display: flex;
}

.pesquisa input {
    position: relative;
    left: 25px;
    width: 330px;
    height: 35px;
    outline: none;
    border: none;
    background-color: transparent;
}

.pesquisa .icon {
    position: relative;
    left: 10px;
    align-self: center;
    font-size: 17px;
}

/* Textos */
.txts button {
    background-color: var(--FundoBoxs);
    border: none;
    border-radius: 20px;
    width: 110px;
    height: 30px;
    font-size: 13px;
    cursor: pointer;
    border: var(--bordas) solid 1px;
    transition: .2s;
}

.txts button:hover {
    transform: scale(1.05);
}

/* Clima */
.txt-clima {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 15px 35px;
}

.icon-cidade p, .icon-cidade i {
    color: var(--corEscura);
    font-weight: 600;
}

.icon-cidade {
    display: flex;
    background-color: var(--corDestaque);
    width: 110px;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 15px;
    gap: 5px;
}

.txt-clim h2 {
    font-size: 25px;
    font-weight: 600;
}

.txt-clim p {
    font-size: 12px;
    font-weight: 300;
}

.txt-clim h1 {
    font-size: 60px;
    font-weight: 400;
    margin-top: 31px;
}

.clima-view {
    display: flex;
    justify-content: space-between; 
}

.clima1 {
    text-align: end;
    align-self: center;
    padding: 10px 35px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.icon-temp i {
    font-size: 105px;
}

.txt-temp h1 {
    font-size: 20px;
    font-weight: 400;
}

.txt-temp p {
    font-size: 13px;
    font-weight: 200;
}

.btn-sel {
    background-color: var(--fundoBoxesClaro);
    border: none;
    outline: none;
    width: 40px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

.btn-sel:hover {
    transform: scale(1.05);
}

.clima-horas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.semana {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.d-txt h3 {
    font-size: 12px;
    margin-left: 5px;
    font-weight: 400;
}

.dias-semana {
    background: linear-gradient(45deg, transparent 0%, var(--fundoSemana) 50%, transparent 100%);
    width: 420px;
    height: 110px;
    border-radius: 20px;
}

.clima-amanha {
    background-color: var(--fundoBoxClaroA);
    width: 420px;
    height: 90px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.clima-amanha .txt-amanha h2 {
    font-size: 13px;
    font-weight: 300;
}

.clima-amanha .txt-amanha p {
    font-size: 12px;
    font-weight: 100;
}

.clima-amanha h1 {
    font-size: 50px;
    font-weight: 300;
}

.clima-amanha i {
    font-size: 70px;
    position: relative;
    top: -20px;
    text-shadow: 0 0 20px var(--sombraClimaAmanha);
}

.horarios {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    background: linear-gradient(45deg, transparent 0%, var(--fundoHorarios) 50%, transparent 100%);
    width: 145px;
    height: 270px;
    border-radius: 20px;
    box-shadow: 0 0 8px var(--sombraHorarios);
}

.horarios p {
    font-size: 13px;
    font-weight: 500;
    color: var(--corTextosClaros);
}

.horarios h3 {
    font-weight: 400;
}

.sol h3 {
    font-size: 25px;
}

.duracao h3 {
    font-size: 18px;
}

.hour {
    margin-left: 12px
}

.dias-semana {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.sessao-semana h3 {
    font-size: 10px;
    font-weight: 400;
}

.sessao-semana p {
    font-size: 13px;
    font-weight: 300;
}

.sessao-semana {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45px;
    height: 90px;
    border-radius: 15px;
    gap: 10px;
    border: var(--bordasDias) solid 1px;
}

.a-boxs {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boxs-destaques {
    background-color: var(--FundoBoxs);
    width: 215px;
    height: 130px;
    border-radius: 30px;
}

.destaques h1 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
    margin-left: 16px;
    margin-bottom: 9px;
}

.a-boxs h1 {
    font-size: 12px;
}

.icon-h i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    text-shadow: 10px 0 20px var(--sombraClimaAmanha);
    margin: 8px 0;
}

.status-h {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 45px;
}

.status-h h3 {
    font-size: 12px;
    font-weight: 400;
}

.status-h span {
    font-weight: 100;
}

.status-txt h3 {
    color: var(--corDestaque2);
    font-weight: 700;
}

.status-txt p {
    font-size: 10px;
    font-weight: 300;
}

.txt-dest {
    display: flex;
    align-items: center;
    margin: 10px 0 0 15px;
}

.txt-dest h1 {
    font-size: 12px;
    font-weight: 300;
    margin: 0 0 0 4px;
}

.txt-dest i {
    font-size: 12px;
}

.valor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95px;
}

.valor h2 {
    font-size: 25px;
    font-weight: 400;
}

.valor p {
    font-size: 15px;
    font-weight: 200;
}

.cidade {
    display: flex;
    gap: 40px;
}

.texto-cidade {
    display: flex;
    align-items: center;
    width: 140px;
}

.txt-cidade {
    width: 200px;
}

.txt-cidade h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 10px 0 0 20px;
}

.txt-cidade h2 {
    font-size: 11px;
    font-weight: 300;
    margin: 0 0 0 10px;
}

.min-max {
    font-size: 9px;
    font-weight: 200;
}

.icone-cidade {
    font-size: 50px;
    margin: 40px 0 0 0;
}